root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.fs]
max_line_lengt = 120
# Feliz style
fsharp_single_argument_web_mod = true
fsharp_space_before_colo = false
fsharp_max_if_then_else_short_widt = 60
fsharp_max_infix_operator_expressio = 50
fsharp_max_record_widt = 70
fsharp_max_record_number_of_item = 1
fsharp_max_array_or_list_widt = 70
fsharp_max_array_or_list_number_of_item = 1
fsharp_max_value_binding_widt = 70
fsharp_max_function_binding_widt = 40
fsharp_max_dot_get_expression_widt = 50
fsharp_multiline_block_brackets_on_same_colum = true
fsharp_multiline_bracket_style = stroustrup
fsharp_newline_before_multiline_computation_expression = true
fsharp_newline_between_type_definition_and_member = false
fsharp_max_elmish_widt = 40
fsharp_align_function_signature_to_indentatio = false
fsharp_alternative_long_member_definition = false
fsharp_multi_line_lambda_closing_newlin = false
fsharp_disable_elmish_synta = false
fsharp_keep_indent_in_branc = false
fsharp_blank_lines_around_nested_multiline_expression = false
